@font-face {
    font-family: 'ar-hacen-simple';
    src:
    url('../webfonts/HacenPromoterLt.woff')
    ;
}
@font-face {
    font-family: 'ar-hacen';
    src:
    url('../webfonts/hacen.woff')
    ;
}