$flatbluedark   :#2980b9;
$flatbluelight  :#3498db;
$flatbluelight0 :hsla(204, 70%, 53%,0.1);
$flatbluelight1 :rgb(120, 198, 250);
$flatreddark    :#c0392b;
$flatredlight   :#e74c3c;
$silverlight    :#ecf0f1;
$silverlight0    :#dbdbdb;
$silverlight00   :#ecf0f1bd;
$silverdark     :#cccccc;
$grayblack      :#222222;
$purplelight    :#9b59b6;
$purpledark     : #8e44ad;
$yellowlight    : #f1c40f;
$successbck     :#11ca9b ;
$successtext    :#068261;
$errorbck     :#e74c3c ;
$errortext    :#a53124;